/*page css de réservia*/

body
{
	/*background-color:#F2F2F2;pour supprimer le fond derriere le fond de la page*/
    
}


#page
{
	width: 100%;/*le site doit faire la largeur de la page*/
	margin:auto;
	background-color:#FFFFFF;

}

header, section
{
	margin-left: 20px;

}


/* entête du site*/

header
{
	width:100%; 	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.logo1
{
    width: 100px;
    height: 100%; /*mettre en % la l ou la H pour conserver la proportion*/
}

#menu
{
	margin-right: 20px;
}

ul
{
	list-style-type: none;
	width: 350px;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	margin-right: 15px;
}


@font-face 
{
    font-family: 'ralewayblack';
    src: url('raleway-black-webfont.woff2') format('woff2'),
         url('raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 1ere section chercher ville + filtres */

/*titre + texte*/
h2
{
	font-size: 1.3em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    color:black;
}

/*bouton rechercher la ville en 3 parties*/

.map
{
border: 1px solid #F2F2F2;/*creer une border autour de l icone map*/
border-radius: 10px 0px 0px 10px;
height: 50px;
width: 50px;/*regler la longueur en fonction du texte du bouton */
background-color: #F2F2F2;
font-size: 1em;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;


}


#ville
{
border: 1px solid #F2F2F2; /*creer une border autour de l icone map*/
height: 48px;
width: 250px;/*regler la longueur en fonction du texte du bouton */


}

.rechercher
{
border: 1px solid #F2F2F2;/*creer une border autour de l icone map*/
border-radius: 0px 10px 10px 0px;
height: 50px;
width: 150px;/*regler la longueur en fonction du texte du bouton */
background-color: #0065FC;
font-size: 1em;
color: #FFFFFF;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}

#search
{
border:none;
margin-top:2px;
height: 45px;
width: 245px;
background-color: #FFFFFF;
font-size: 1em;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}


#rechercherville
{
  display: flex;
  margin-top: 25px;
}

.rechercher:hover
{
  background-color: #FFFFFF;
  color:#0065FC;
  box-shadow: 2px 4px #0065FC;
}



/*boutons de filtres clicables avec icone dans une bulle + titre du bouton*/

#filtres
{
    display: flex;
    margin-top: 25px;
}

h4
{
    font-size: 1em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    color:black;

}

.titrefiltres
{
    position: relative;/*permet de regler le decalage verticale en alignant le titre avec les boutons*/
    bottom: 12px;
}

/*bouton economique*/
.eco /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-eco /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-eco:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutoneco/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 167px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;/*pour decoller les boutons les uns des autres */

}


/*bouton Famillial*/
.fami /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-fami /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-fami:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonfami/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 135px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}

/*bouton Romantique*/
.roman /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-roman /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-roman:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonroman/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 164px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}

/*bouton animaux*/
.ani /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-ani /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-ani:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonani/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 224px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}


/*ligne infos : icone dans une bulle + texte*/


#ligneinfos/*block qui englobe le bouton et le texte*/
{
    display: flex;/*pour aligner les block*/
    
}

.texteinfo/*englobe la partie texte*/
{
position: relative;/*pour pouvoir aligner verticalement le texte avec l'icone+border+fond*/
margin-left: 5px;/* permet de regler l'ecart entre la bulle et le texte*/
bottom : 10px;/*permet de regler la position du texte pour l'aligner verticalement avec la bulle*/

}

.infos /*ne pas mettre les codes sur button mais */
{

    border: 1px solid #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#0065FC;
    background-color: #FFFFFF;

}



/*2ème section Hébergement à Marseille*/

#hebergement/*block qui englobe herbergement à Marseille et aside*/
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;


}



#hebergementmarseille /*titre et les lieux*/
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 60%;
    height: 800px;/*pour la hauteur du block hebergement faire pareil pour aside*/
	padding-left: 25px;
    padding-right: 25px;
	border-radius: 10px;

}

#leslieux
{
	display: flex;
	justify-content: space-between; /*mettre between + des paddings pour positionner les éléments dans le block*/
    padding-left: 25px;
    padding-right: 25px;
}

.cannebiere
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}


#legende_cannebiere
{
    position: relative;/*pour positionner le bandeau*/
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
    
}

.titredescases
{
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.starblue
{
    color: #0065FC;
}

.stargrise
{
    color: #F2F2F2;
}

.prix
{
    font-weight: bold;
}



.hotelmer
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_hotelmer
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    /*padding-top: 0;/*modif ecart entre légende et photo A SUPPRIMER */
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement1et2
{
	display: flex;
	flex-direction: column;

}

.hotelduport
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_hotelduport
{
    position: relative;/*pour positionner le bandeau*/
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}

.panier
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_panier
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement3et4
{
	display: flex;
	flex-direction: column;

}


.mouettes
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_mouettes
{
    position: relative;/*pour positionner le bandeau*/
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}

.amina
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 250px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_amina
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 240px;
    height: 80px;
    
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement5et6
{
	display: flex;
	flex-direction: column;

}

#hebergement1et2 a 
{
text-decoration: none;
}
#hebergement3et4 a 
{
text-decoration: none;
}
#hebergement5et6 a 
{
text-decoration: none;
}


aside/*partie les plus populaires*/
{
	display: flex;
    flex-direction: column;

	background-color: #F2F2F2;
	width: 30%;
	height: 800px;
	border-radius: 10px;
	margin-right:25px;
    padding-left: 25px;

}


#populaires/*block qui englobe les 3 cartes*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#titrepopu
{
    margin-left: 25px;
    display: flex;


}

.graph
{
    position: relative;/*pour pouvoir aligner verticalement l icone avec le titre*/
    margin-left: 170px;/* permet de regler l'ecart entre le titre et l icone*/
    margin-top: 25px;/*permet de regler la position verticale de l'icone*/
}

.soleilmatin/*photo*/
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
    
}


#legende_soleilmatin/*bandeau blanc avec la legende*/
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

#populaires a 
{
text-decoration: none;
}

#starmatin
{
padding-top: 55px;

}

#stareau, #startoutbb /*decalage différent car 3 lignes de texte*/
{
padding-top: 32px;

}




.coeurdeau
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
    
}


#legende_coeurdeau
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

.bleublanc
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
}


#legende_bleublanc
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

#afficherplus
{
    margin-left: 25px;
    margin-top: 710px;
    position: absolute;
    text-decoration: none;
}

#afficherplus a 
{
text-decoration: none;
}

#heber1
{
  margin-left: 25px;  
}


/*3ème section activité à Marseille*/



.vieuxport
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 363px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF/*pour mettre une ombre à l'image*/
}

#legende_vieuxport
{
    position: relative;/*pour positionner le bandeau sur l'image ne pas mettre absolute qui le met au milieu de la page ??*/
    bottom: 73px;/*pour positionner le bandeau au bas de la photo en ajustant les px*/
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    
    
}

#carte1 a 
{
text-decoration: none;
}



.pomegues
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_pomegues
{
    position: relative;
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.frioul
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 120px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_frioul
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}


#carte2et3
{
	display: flex;
	flex-direction: column;

}

#carte2et3 a 
{
text-decoration: none;
}


.calamques
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 363px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF/*pour mettre une ombre à l'image*/
}

#legende_calamques
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}

#carte4 a 
{
text-decoration: none;
}


.notredame
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 150px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_notredame
{
    position: relative;
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.parc
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 170px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #DEEBFF
}

#legende_parc
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}


#carte5et6
{
	display: flex;
	flex-direction: column;
    margin-right: 30px;
}

#carte5et6 a 
{
text-decoration: none;
}


#actimarseille
{
	display: flex;
	justify-content: space-between;
    height: 450px;

}

#carteparc/*a rajouter pour rapprocher les 2 cartes 5&6*/
{
    position:relative;
    bottom: 45px;
}
#cartefrioul/*a rajouter pour rapprocher les 2 cartes 5&6*/
{
    position:relative;
    bottom: 45px;
}

/* Footer */

footer
{
    display: flex;
    background-color:#F2F2F2;
    margin-top: 25px;
}

ol
{
	list-style-type: none;
	padding-left: 0px; /*marge interieur definit pour aligner les listes avec les titres*/
}

#propos
{
	width: 30%;
	margin-left: 20px;/*pour aligner le texte avec les autres sections*/
}

#noshebergements
{
	width: 35%
}

#assistance
{
	width: 35%
}

#propos a 
{
text-decoration: none;
color: black;
}

#noshebergements a 
{
text-decoration: none;
color: black;
}

#assistance a 
{
text-decoration: none;
color: black;
}
