/*page css de réservia*/



#page
{
	width: 100%;/*le site doit faire la largeur de la page*/
	margin:auto;
	background-color:#FFFFFF;

}

section
{
	margin-left: 20px;

}


/* entête du site*/

/*partie modifiée*/
header
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

}

hr
    {
        display: none;
    }

.logo1
{
    width: 100px;
    height: 100%; /*mettre en % la l ou la H pour conserver la proportion*/
    margin-left: 20px;
}

.heber1, .acti1, .inscri1
{
    
    list-style-type: none;
    margin-right: 25px;
    font-size: 0.8em;
    font-family: 'ralewayregular' ,"Arial Black", Arial, Verdana, sans-serif;
    

}

.heber1
{
    padding-left: 1100px;
}


.heber1 a, .acti1 a, .inscri1 a
{
    text-decoration: none;
}

@font-face 
{
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'ralewayblack';
    src: url('raleway-black-webfont.woff2') format('woff2'),
         url('raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 1ere section chercher ville + filtres */

/*titre + texte*/
h2
{
	font-size: 1.3em;
    font-family: 'ralewayregular' ,"Arial Black", Arial, Verdana, sans-serif;
    color:black;
    font-weight: bold;
    font-size: 1.5em;
}

.soustexte
{
    font-family: 'ralewayregular' ,"Arial Black", Arial, Verdana, sans-serif;
}

/*bouton rechercher la ville en 3 parties*/

.map
{
border: 1px solid #F2F2F2;/*creer une border autour de l icone map*/
border-radius: 10px 0px 0px 10px;
height: 50px;
width: 50px;/*regler la longueur en fonction du texte du bouton */
background-color: #F2F2F2;
font-size: 1em;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;


}


#ville
{
border: 1px solid #F2F2F2; /*creer une border autour de l icone map*/
height: 48px;
width: 250px;/*regler la longueur en fonction du texte du bouton */


}

.rechercher
{
border: 1px solid #F2F2F2;/*creer une border autour de l icone map*/
border-radius: 0px 10px 10px 0px;
height: 50px;
width: 150px;/*regler la longueur en fonction du texte du bouton */
background-color: #0065FC;
font-size: 1em;
color: #FFFFFF;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}

#search
{
border:none;
margin-top:2px;
height: 45px;
width: 245px;
background-color: #FFFFFF;
font-size: 1em;
font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}


#rechercherville
{
  display: flex;
  margin-top: 25px;
}

.rechercher:hover
{
  background-color: #FFFFFF;
  color:#0065FC;
  box-shadow: 2px 4px #0065FC;
}

.loupe/*pour mq mobile, ne doit pas apparaitre ici !*/
{
    display:none;
}

/*boutons de filtres clicables avec icone dans une bulle + titre du bouton*/

#filtres
{
    display: flex;
    margin-top: 25px;
}

h4
{
    font-size: 1em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    color:black;

}

.titrefiltres
{
    position: relative;/*permet de regler le decalage verticale en alignant le titre avec les boutons*/
    bottom: 12px;
}

/*bouton economique*/
.eco /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-eco /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-eco:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutoneco/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 167px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;/*pour decoller les boutons les uns des autres */

}


/*bouton Famillial*/
.fami /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-fami /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-fami:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonfami/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 135px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}

/*bouton Romantique*/
.roman /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-roman /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-roman:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonroman/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 164px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}

/*bouton animaux*/
.ani /*bouton icone dans le bouton eco*/
{
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color:#0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    position: relative;/* permet de regler un decalage de la bulle dans le bouton*/
    bottom:2px; /* reglage du decalage de la bulle*/    
}
            
.b-ani /*bouton texte*/
{
    border: 1px solid #FFFFFF;/*bordure blache pour être masquée*/
    border-radius: 5px 30px 30px 5px; /* 5px pour adoucir l'autre bord*/
    height: 40px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

.b-ani:hover/*seul cet element a un effet au survol pour un effet d'ensemble plus propre*/
{
      background-color: #0065FC;
      color:#FFFFFF;
      box-shadow: 2px 4px #DEEBFF;
}

#boutonani/*bouton qui va englober le bouton icone + le bouton texte*/
{

border: 2px solid #DEEBFF;/*creer une border qui va englober le bouton icon + le bouton texte*/
border-radius: 30px;
height: 40px;
width: 224px;/*regler la longueur en fonction du texte du bouton */
background-color: #FFFFFF;
margin-left: 20px;

}


#mqecofa/*block rajouter pour mqmobile, les garde alignés*/
{
    display: flex;
}


/*ligne infos : icone dans une bulle + texte*/


#ligneinfos/*block qui englobe le bouton et le texte*/
{
    display: flex;/*pour aligner les block*/
    
}

.texteinfo/*englobe la partie texte*/
{
position: relative;/*pour pouvoir aligner verticalement le texte avec l'icone+border+fond*/
margin-left: 5px;/* permet de regler l'ecart entre la bulle et le texte*/
bottom : 10px;/*permet de regler la position du texte pour l'aligner verticalement avec la bulle*/
font-family: 'ralewayregular' ,"Arial Black", Arial, Verdana, sans-serif;

}

.infos /*ne pas mettre les codes sur button mais */
{

    border: 1px solid #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#0065FC;
    background-color: #FFFFFF;

}



/*2ème section Hébergement à Marseille*/

#hebergement/*block qui englobe herbergement à Marseille et aside*/
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;


}



#hebergementmarseille /*titre et les lieux*/
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 60%;
    height: 750px;/*pour la hauteur du block hebergement faire pareil pour aside*/
	padding-left: 25px;
    padding-right: 25px;
	border-radius: 10px;

}

#leslieux
{
	display: flex;
	justify-content: space-between; /*mettre between + des paddings pour positionner les éléments dans le block*/
    padding-left: 25px;
    padding-right: 25px;
}


.cannebiere /*nouveau codage*/
{
    position: absolute;
    height: 170px;/*taille à modifier*/
    width: 270px;/*taille à modifier*/
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
    
}


#legende_cannebiere /* nouveau codage*/
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 270px;/*taille modifié*/
    height: 90px;
    padding-top: 165px;/*hauteur à modifier*/
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


.titredescases
{
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.starblue
{
    color: #0065FC;
}

.stargrise
{
    color: #F2F2F2;
}

.prix
{
    font-weight: bold;
}



.hotelmer
{
	position: absolute;
    height: 170px;
    width: 270px;
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
}

#legende_hotelmer
{
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 90px;
    padding-top: 165px;
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement1et2
{
	display: flex;
	flex-direction: column;

}

.hotelduport
{
	position: absolute;
    height: 170px;
    width: 270px;
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
}

#legende_hotelduport
{
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 90px;
    padding-top: 165px;
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}

.panier
{
	position: absolute;
    height: 170px;
    width: 270px;
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
}

#legende_panier
{
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 90px;
    padding-top: 165px;
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement3et4
{
	display: flex;
	flex-direction: column;

}


.mouettes
{
	position: absolute;
    height: 170px;
    width: 270px;
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
}

#legende_mouettes
{
   border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 90px;
    padding-top: 165px;
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}

.amina
{
	position: absolute;
    height: 170px;
    width: 270px;
    border-radius: 10px 10px 0px 0px; /*pour arrondir les angles*/
    margin-left: 5px;
    margin-top: 5px;
}

#legende_amina
{
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    height: 90px;
    padding-top: 165px;
    padding-left: 10px;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    
}


#hebergement5et6
{
	display: flex;
	flex-direction: column;

}

#hebergement1et2 a 
{
text-decoration: none;
}
#hebergement3et4 a 
{
text-decoration: none;
}
#hebergement5et6 a 
{
text-decoration: none;
}

#carte2/* a rajouter pour mettre ecart entre les vignettes*/
{

margin-top: 50px;

}

#carte8
{

margin-top: 50px;

}

#carte6
{

margin-top: 50px;

}

aside/*partie les plus populaires*/
{
	display: flex;
    flex-direction: column;

	background-color: #F2F2F2;
	width: 30%;
	height: 750px;
	border-radius: 10px;
	margin-right:25px;
    padding-left: 25px;

}


#populaires/*block qui englobe les 3 cartes*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#titrepopu
{
    margin-left: 25px;
    display: flex;


}

.graph
{
    position: relative;/*pour pouvoir aligner verticalement l icone avec le titre*/
    margin-left: 170px;/* permet de regler l'ecart entre le titre et l icone*/
    margin-top: 25px;/*permet de regler la position verticale de l'icone*/
}

.soleilmatin/*photo*/
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
    
}


#legende_soleilmatin/*bandeau blanc avec la legende*/
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

#populaires a 
{
text-decoration: none;
}

#starmatin
{
padding-top: 55px;

}

#stareau, #startoutbb /*decalage différent car 3 lignes de texte*/
{
padding-top: 32px;

}




.coeurdeau
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
    
}


#legende_coeurdeau
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

.bleublanc
{
    position: absolute;
    margin-top: 33px;/* définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    margin-bottom: 10px;
    height: 155px;
    width: 155px;
    border-radius: 10px 0px 0px 10px; /*pour arrondir les angles*/
    margin-left: 28px;/*pour positioner la photo sur le bord du bandeau blanc mettre margin au lieu de padding*/
    
}


#legende_bleublanc
{
    
    border-radius: 10px 10px 10px 10px;/* bord arrondit*/
    width: 230px;
    height: 170px;
    padding-top: 1px;
    padding-left: 180px;

    line-height: 1.5em;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 25px;/*pour mettre un espace entre les cartes*/
    margin-left: 20px;/*pour le bord gauche par rapport au block aside*/
    margin-right: 25px;
    margin-top: 25px;

}

#afficherplus
{
    margin-left: 25px;
    margin-top: 660px;
    position: absolute;
    text-decoration: none;
}

#afficherplus a 
{
text-decoration: none;
}

#heber1
{
  margin-left: 25px;  
}


/*3ème section activité à Marseille*/



.vieuxport
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 363px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;/*pour mettre une ombre à l'image*/
}

#legende_vieuxport
{
    position: relative;/*pour positionner le bandeau sur l'image ne pas mettre absolute qui le met au milieu de la page ??*/
    bottom: 73px;/*pour positionner le bandeau au bas de la photo en ajustant les px*/
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
    
    
}

#carte1 a 
{
text-decoration: none;
}



.pomegues
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 200px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;
}

#legende_pomegues
{
    position: relative;
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.frioul
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 120px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;
}

#legende_frioul
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}


#carte2et3
{
	display: flex;
	flex-direction: column;

}

#carte2et3 a 
{
text-decoration: none;
}


.calamques
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 363px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;/*pour mettre une ombre à l'image*/
}

#legende_calamques
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;

}

#carte4 a 
{
text-decoration: none;
}


.notredame
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 150px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;
}

#legende_notredame
{
    position: relative;
    bottom: 74px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}

.parc
{
	margin-top: 15px;/*La propriété margin-top définit l'espace vertical pour la marge appliquée en haut de l'élément.*/
    height: 170px;
    width: 300px;
    border-radius: 10px; /*pour arrondir les angles*/
    
    margin-bottom: 25px;
    box-shadow: 0px 0px 16px #DEEBFF;
}

#legende_parc
{
    position: relative;
    bottom: 73px;
    border-radius: 0px 0px 10px 10px;/* bord arrondit*/
    width: 290px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: black;
    font-size: 0.8em;
    font-family: 'ralewayblack', "Arial Black", Arial, Verdana, sans-serif;
}


#carte5et6
{
	display: flex;
	flex-direction: column;
    margin-right: 30px;
}

#carte5et6 a 
{
text-decoration: none;
}


#actimarseille
{
	display: flex;
	justify-content: space-between;
    height: 450px;

}

#carteparc/*a rajouter pour rapprocher les 2 cartes 5&6*/
{
    position:relative;
    bottom: 45px;
}
#cartefrioul/*a rajouter pour rapprocher les 2 cartes 5&6*/
{
    position:relative;
    bottom: 45px;
}

/* Footer */

footer
{
    display: flex;
    background-color:#F2F2F2;
    margin-top: 5px;
}

ol
{
	list-style-type: none;
	padding-left: 0px; /*marge interieur definit pour aligner les listes avec les titres*/
}

#propos
{
	width: 30%;
	margin-left: 20px;/*pour aligner le texte avec les autres sections*/
}

#noshebergements
{
	width: 35%
}

#assistance
{
	width: 35%
}

#propos a 
{
text-decoration: none;
color: black;
}

#noshebergements a 
{
text-decoration: none;
color: black;
}

#assistance a 
{
text-decoration: none;
color: black;
}







/*partie médiaquerries*/


@media screen and (max-width: 720px)
/*Breakpoint pour les mobiles 720px noter handheld à la place de screnn ?*/

{



header
    {
       width: 480px;
       flex-wrap: wrap;
       margin-bottom: 70px;
    
    }

    .logo1
    {
        order: 1;
        margin-left: -120px;
        
    }

    .heber1
    {
    order: 3;
    padding-top: 50px;
    margin-left: 70px;
    font-size: 1em;
    font-weight: bold;

    }

    .acti1
    {
    order: 4;
    padding-top: 50px;
    margin-right: 100px;
    font-size: 1em;
    font-weight: bold;


    }

    .inscri1
    {
    order: 2;
    padding-left: 180px;
    padding-right: 25px;
    font-size: 1.2em;
    position:relative;
    margin-top: 16px;
    font-weight: bold;

    }

    .heber1
    {
    padding-left:1px;
    }


    hr
    {
        display: flex;
        height: 5px;
        background-color: #0065FC;
        margin-left: 0;
        border:none;
    }


    .ligneheber
    {
        position:absolute;
        margin-top: 150px;
        width: 250px;
        
    }


    .ligneacti
    {
        position:absolute;
        margin-top: 150px;
        margin-left: 185px;
        width: 220px;
    }

    hr:visited
    {
    color: #DEEBFF; 
    }

    hr:hover
    {
    background-color: #DEEBFF; 
    }

    .infos /*ne pas mettre les codes sur button mais */
    {

    
    width: 40px;
    height: 35px;
    

    }

    .texteinfo
    {
        font-size: 1.3em;
        position: relative;/*pour pouvoir aligner verticalement le texte avec l'icone+border+fond*/
        bottom : 20px;/*permet de regler la position du texte pour l'aligner verticalement avec la bulle*/
        
    }

    .soustexte
    {
        font-size: 1.3em;
    }

    /*bouton rechercher une icone remplace le texte rechercher*/

    .rechercher/*le bouton recherhcer ne doit plus apparaitre car remplacer par icone search*/
    {
        display: none;
    }


    .loupe
    {
        display: flex;/*pour faire réapparaitre l'icone */
        border: 1px solid #F2F2F2;/*creer une border autour de l icone map*/
        border-radius: 20px 20px 20px 20px;
        height: 52px;
        width: 60px;/*regler la longueur en fonction du texte du bouton */
        background-color: #0065FC;
        font-size: 1.1em;
        padding-top: 15px;
        padding-left: 18px;
        position: relative;
        bottom: 2px;
        color:#FFFFFF;
        
    }

    #ville
    {
        display:flex;
        width: 300px;/*regler la longueur en fonction du texte du bouton */
        border-radius: 0px 20px 20px 0px;
    }


    /*section rechercher ville + boutons filtres*/

    #filtres
    {
        flex-direction: column;
        
    }

    #boutonfami, #boutonroman, #boutonani
    {
        margin-top:10px;
    }

    #mqecofa
    {
        display: flex;

    }

    #boutonfami
    {
    position: relative;/*permet de regler le decalage verticale pour aligner les 2 boutons*/
    bottom: 12px;
    }


    #ligneinfos
    {
        margin-top: 20px;
    }


    /*section hébergement à marseille*/


    #hebergement/*block qui englobe herbergement à Marseille et aside*/
    {
    
    flex-direction: column-reverse;/* pour mettre la partie aside en 1er*/
    
    }

    #leslieux/* partie qui contient les cartes hébergement*/
    {
    
    flex-direction: column;

    }

    #hebergementmarseille /*titre et les lieux*/
    {
        margin-top: 25px;/*pour espacer les blocks hébergements et aside*/
        width: 350px;
        height: 1950px;/*pour redimensionner la hauteur du block hebergement*/
        background-color: #FFFFFF;
        /*margin-left: 1px;*/
        padding-left: 1px;
        padding-right: 1px;
        
    }

/*il faut redimentionner les cartes hébergements*/

    
    .cannebiere
    {
    height: 170px;
    width: 370px;
    }

    #legende_cannebiere
    {
    width: 370px;
    height: 90px;

    }

    .hotelmer
    {
    height: 170px;
    width: 370px;
    }

    #legende_hotelmer
    {
    width: 370px;
    height: 90px;

    }

   .hotelduport
    {
    height: 170px;
    width: 370px;
    }

    #legende_hotelduport
    {
    width: 370px;
    height: 90px;

    }

    .panier
    {
    height: 170px;
    width: 370px;
    }

    #legende_panier
    {
    width: 370px;
    height: 90px;

    }

    .mouettes
    {
    height: 170px;
    width: 370px;
    }

    #legende_mouettes
    {
    width: 370px;
    height: 90px;

    }

    .amina
    {
    height: 170px;
    width: 370px;
    }

    #legende_amina
    {
    width: 370px;
    height: 90px;

    }


    #mqcarte3
    {
        margin-top: 50px;
    }

    #mqcarte5
    {
        margin-top: 50px;
    }

    #afficherplus
    {
    
    margin-top: 1870px;
    
    }

    #legende_cannebiere, #legende_hotelmer, #legende_hotelduport, #legende_panier, #legende_mouettes, #legende_amina

    {
        box-shadow: 0px 0px 16px #DEEBFF;
    }


    aside/*partie les plus populaires*/
    {
    
    width: 100%;
    height: 800px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 0px 0px;/*les coin ne sont plus arrondis !*/
    
    }

    #titrepopu
    {
    width: 650px;/*pour que le titre soit sur une seule ligne*/

    }

    .graph
    {
    
    margin-left: 120px;/* pour ramener l icone dans la block*/
    
    }

    #legende_soleilmatin, #legende_coeurdeau, #legende_bleublanc/*pour diminuer la largeur des cartes*/
    {
    
    width: 190px;
    
    }

    /*section activités à marseille*/

    #actimarseille
    {
        
        flex-direction: column;
        height: 1250px;
        margin-left: 25px;

    }

    #activites
    {
        margin-left: 25px;
    }

    /*il faut redimentionner toutes les cartes et réajuster les alignements*/
    .vieuxport
    {
    
    height: 200px;
    width: 380px;

    
    }

    #legende_vieuxport
    {
    
    width: 370px;
    height: 30px;
    
    }

    .pomegues
    {
    height: 200px;
    width: 380px;
    }

    #legende_pomegues
    {
    width: 370px;
    height: 30px;
    }

    .frioul
    {
    height: 200px;
    width: 380px;

    }

    #legende_frioul
    {
    width: 370px;
    height: 30px;

    }



    .calamques
    {
    height: 200px;
    width: 380px;
    }

    #legende_calamques
    {
    width: 370px;
    height: 30px;

    }


    .notredame
    {
    height: 200px;
    width: 380px;
    }

    #legende_notredame
    {
    width: 370px;
    height: 30px;
    }

    .parc
    {
    height: 200px;
    width: 380px;
    }

    #legende_parc
    {
    width: 370px;
    height: 30px;
    }

    #carte4/*pour remonter la carte des calamques*/
    {
        position:relative;
        bottom: 130px;

    }

    #carte2et3
    {
        position:relative;
        bottom: 40px;

    }

    #carte5et6
    {
        position:relative;
        bottom: 170px;
    }



    footer
    {
        flex-direction: column;
        margin-top: 250px;
        width: 420px;/*pour aligner avec le block aside*/
        margin-left: 25px;
    }

    #propos
    {
    width: 350px;
    margin-left: 25px;/*pour aligner le texte avec les autres sections*/
    line-height: 1.5em;/*pour mettre un peu d'espace entre les lignes*/
    }

    #noshebergements
    {
    width: 350px;
    margin-left: 25px;
    line-height: 1.5em;
    }

    #assistance
    {
    width: 350px;
    margin-left: 25px;
    line-height: 1.5em;
    }


}



@media screen and (min-width: 720px) and (max-width: 1024px)
/*Breakpoint pour les tablettes 1024px*/

{

    header /*juste pour moi visualiser*/
    {
    
        background-color: red;
    }

    .heber1
    {
    padding-left: 300px;
    }

    
    #filtres
    {
        flex-direction: column;
        
    }

    #boutonfami, #boutonroman, #boutonani
    {
        margin-top:10px;
    }

    #mqecofa
    {
        display: flex;

    }

    #boutonfami
    {
    position: relative;/*permet de regler le decalage verticale pour aligner les 2 boutons*/
    bottom: 12px;
    }

#ligneinfos
    {
        margin-top: 20px;
    }


    /*section hébergement à marseille*/


    #hebergement/*block qui englobe herbergement à Marseille et aside*/
    {
    
    flex-direction: column-reverse;/* pour mettre la partie aside en 1er*/
    
    }


    #leslieux
    {
    
    display: flex;

    flex-wrap: wrap;

    }

    #hebergement1et2
    {
        flex-direction: row;
        align-items: baseline;

    }

    #hebergement3et4
    {
        flex-direction: row;
    }

    #hebergement5et6
    {
        flex-direction: row;
    }

    #carte2, #carte8, #carte6
    {
        margin-left: 20px;
    }



    #hebergementmarseille /*titre et les lieux*/
    {
        margin-top: 25px;/*pour espacer les blocks hébergements et aside*/
        width: 100%;
        height: 1000px;/*pour redimensionner la hauteur du block hebergement*/
        background-color: #FFFFFF;
        
        padding-left: 1px;
        padding-right: 1px;
        
    }

/*il faut redimentionner les cartes hébergements*/

    
    .cannebiere
    {
    height: 150px;
    width: 350px;
    }

    #legende_cannebiere
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }

    .hotelmer
    {
    height: 150px;
    width: 350px;
    }

    #legende_hotelmer
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }

   .hotelduport
    {
    height: 150px;
    width: 350px;
    }

    #legende_hotelduport
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }

    .panier
    {
    height: 150px;
    width: 350px;
    }

    #legende_panier
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }

    .mouettes
    {
    height: 150px;
    width: 350px;
    }

    #legende_mouettes
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }

    .amina
    {
    height: 150px;
    width: 350px;
    }

    #legende_amina
    {
    width: 350px;
    height: 90px;
    padding-top: 140px;/*hauteur à modifier*/

    }


    #mqcarte3
    {
        margin-top: 50px;
    }

    #mqcarte5
    {
        margin-top: 50px;
    }

    #afficherplus
    {
    
    margin-top: 1870px;
    
    }

    #legende_cannebiere, #legende_hotelmer, #legende_hotelduport, #legende_panier, #legende_mouettes, #legende_amina

    {
        box-shadow: 0px 0px 16px #DEEBFF;
    }


    aside/*partie les plus populaires*/
    {
    
    width: 100%;/*pour sur la largeur max*/
    height: 800px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 0px 0px;/*les coin ne sont plus arrondis !*/
    
    }

    #titrepopu
    {
    width: 650px;/*pour que le titre soit sur une seule ligne*/

    }

    .graph
    {
    
    margin-left: 120px;/* pour ramener l icone dans la block*/
    
    }

    #legende_soleilmatin, #legende_coeurdeau, #legende_bleublanc/*pour adapter la largeur des cartes*/
    {
    
    width: 190px;
    
    }

    #populaires/*block qui englobe les 3 cartes*/
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


    }

    


    /*section activités à marseille*/

    #actimarseille
    {
        
        flex-direction: column;
        height: 1250px;
        margin-left: 25px;

    }

    #activites
    {
        margin-left: 25px;
    }

    /*il faut redimentionner toutes les cartes et réajuster les alignements*/
    .vieuxport
    {
    
    height: 200px;
    width: 380px;

    
    }

    #legende_vieuxport
    {
    
    width: 370px;
    height: 30px;
    
    }

    .pomegues
    {
    height: 200px;
    width: 380px;
    }

    #legende_pomegues
    {
    width: 370px;
    height: 30px;
    }

    .frioul
    {
    height: 200px;
    width: 380px;

    }

    #legende_frioul
    {
    width: 370px;
    height: 30px;

    }



    .calamques
    {
    height: 200px;
    width: 380px;
    }

    #legende_calamques
    {
    width: 370px;
    height: 30px;

    }


    .notredame
    {
    height: 200px;
    width: 380px;
    }

    #legende_notredame
    {
    width: 370px;
    height: 30px;
    }

    .parc
    {
    height: 200px;
    width: 380px;
    }

    #legende_parc
    {
    width: 370px;
    height: 30px;
    }

    #carte4/*pour remonter la carte des calamques*/
    {
        position:relative;
        bottom: 130px;

    }

    #carte2et3
    {
        position:relative;
        bottom: 40px;

    }

    #carte5et6
    {
        position:relative;
        bottom: 170px;
    }



    footer
    {
        flex-direction: column;
        margin-top: 250px;
        width: 420px;/*pour aligner avec le block aside*/
        margin-left: 25px;
    }

    #propos
    {
    width: 350px;
    margin-left: 25px;/*pour aligner le texte avec les autres sections*/
    line-height: 1.5em;/*pour mettre un peu d'espace entre les lignes*/
    }

    #noshebergements
    {
    width: 350px;
    margin-left: 25px;
    line-height: 1.5em;
    }

    #assistance
    {
    width: 350px;
    margin-left: 25px;
    line-height: 1.5em;
    }


}














